@inject NavigationManager NavigationManager

@* <button @onclick="GoToHome" class="btn btn-outline-primary home-button">My Shop</button> *@

<button @onclick="GoToHome" class="btn btn-outline-primary home-button">
    <i class="bi bi-cart" style="position: absolute; top: 0; right: 0;"></i>
    My Shop
</button>



@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
